#include "Base.xcconfig"

WALI_APP_BUNDLE_IDENTIFIER = com.wali.debug.WALI
WALI_AGENT_BUNDLE_IDENTIFIER = com.wali.debug.WALIAgent
WALI_TRANSCODER_BUNDLE_IDENTIFIER = com.wali.debug.WALITranscoder
WALI_APP_GROUP_IDENTIFIER =
WALI_AGENT_CONTROL_SERVICE_NAME = com.wali.debug.WALIAgent.control

CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = -
DEVELOPMENT_TEAM =
ENABLE_HARDENED_RUNTIME = NO
ENABLE_TESTABILITY = YES
ONLY_ACTIVE_ARCH = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone

