#include "Base.xcconfig"

WALI_APP_BUNDLE_IDENTIFIER = com.wali.WALI
WALI_AGENT_BUNDLE_IDENTIFIER = com.wali.WALIAgent
WALI_TRANSCODER_BUNDLE_IDENTIFIER = com.wali.WALITranscoder
WALI_APP_GROUP_IDENTIFIER = group.com.wali.shared
WALI_AGENT_CONTROL_SERVICE_NAME = com.wali.WALIAgent.control

CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = -
DEVELOPMENT_TEAM =
ENABLE_HARDENED_RUNTIME = YES
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

